nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-color: #000;
  color: #fff;
  padding: 1.2rem;
  font-size: 2rem;
  justify-content: center;
}

.logo-container {
  width: 20%;
  display: flex;
  justify-content: center;
  padding: 1.2rem;
}

nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-around;
  margin: auto;
  text-align: center;
}

li {
  margin: 2rem 0;
}

a {
  color: #fff;
}
